* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-box {
  background-image: linear-gradient(to top, #a3bded 15%, #6991c7 100%);
  max-width: 800px;
  overflow: hidden;
  margin: 40px auto 0 auto;
  border-radius: 8px;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
}

.city-form {
  margin: 20px 20px 0 20px;
}

h1 {
  color: #005086;
  font-size: 44px;
  font-weight: 400;
  line-height: 48px;
  margin: 20px 0 0 47px;
}

ul {
  list-style: none;
  color: #23272b;
}

.today-info {
  margin: 5px 0 0 50px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  text-transform: capitalize;
}

.updated-span {
  font-size: 20px;
  color: #23272b;
  font-weight: 300;
}

.description {
  font-weight: 400;
}

.day-time {
  color: #555555;
}

.today-icon {
  color: #ffc108;
  width: 90px;
  max-width: 90px;
  margin: 20px 20px 20px 40px;
  padding: 0;
  line-height: 1;
  display: none;
}

p {
  color: #23272b;
  font-size: 18px;
  font-weight: 400;
}

.current-temp {
  line-height: 1;
  margin: 0 20px 20px 0;
  display: inline-block;
  vertical-align: top;
}

.today-temp-current {
  color: #23272b;
  font-size: 64px;
  line-height: 2;
  font-weight: 300;
}

.units {
  font-size: 16px;
  color: #555555;
  position: relative;
  top: -34px;
}

a {
  color: #005086;
}

.active:link,
.active:hover,
.active:active,
.active:visited {
  color: #23272b;
  text-decoration: none;
  cursor: default;
}

.today-hi-lo {
  font-size: 30px;
}

.hi-lo {
  color: #555555;
  font-size: 18px;
  font-weight: 300;
}

.today-hi {
  font-weight: 300;
  color: #32383d;
}

.today-lo {
  font-weight: 300;
  color: #555555;
}

.today-details {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 30px;
}

.result {
  color: #555555;
}

h4 {
  font-size: 20px;
  color: #23272b;
  font-weight: 300;
  margin-bottom: 10px;
}

.forecast {
  margin: 10px 20px 20px 20px;
  text-align: center;
}

.day-icon {
  color: #ffc108;
  height: 50px;
  max-height: 50px;
  margin-bottom: 10px;
  display: none;
}

.day-box {
  border-right: 1px solid #696969;
}

.day-box:last-child {
  border-right: none;
}

.five-day-high {
  color: #444444;
}

.five-day-low {
  color: #555555;
  font-weight: 300;
}

.coded-by {
  font-size: 14px;
  color: #555555;
  font-weight: 300;
  padding: 10px;
  margin: 0;
  text-align: center;
}
